version: '3'
services:
  master:
    build:
      context: ./salt-master
      dockerfile: Dockerfile
    container_name: basic-salt-master
    hostname: salt.demo.com
    networks:
      salt-net:
        ipv4_address: 172.80.0.2
    extra_hosts:
      - 'minion.demo.com:172.80.0.3'

  minion:
    build:
      context: ./salt-minion
      dockerfile: Dockerfile
    container_name: basic-salt-minion
    hostname: minion.demo.com
    networks:
      salt-net:
        ipv4_address: 172.80.0.3
    extra_hosts:
      - 'salt.demo.com:172.80.0.2'
    depends_on:
      - master

networks:
  salt-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.80.0.0/24
